body{
    background-color: black;
}

.log-container{
    height: 600px;
    width: 500px;
    border: 2px solid rgb(206, 209, 202);
    margin-top: 60px;
    background-image: url(../Wikipedia/imges/iyna.webp);
    background-size: cover;
}

.log-container:hover{
    background-color: blanchedalmond;
}

.log-container h1{
    color: rgb(248, 144, 7);
    font-size: 40px;
    border: 2px solid wheat;
    border-radius: 50px;
    background-color: rgb(238, 224, 207,.5);
    width: 200px;
}

.log-container h1:hover{
    background-color: transparent;
    border: none;
}
.user-detail h2{
    color: rgb(10, 250, 82);
    font-size: 2rem;
}

.name{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: yellow;
}

.name input{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    background-color: black;
    color: rgb(8, 130, 236);
}

.possward{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: rgb(243, 4, 4);
    font-weight: 600;
}

.possward input{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    background-color: brown;
}

.email{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: rgb(0, 204, 255);
    margin-left: 40px;
}

.email input{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    margin-left: 10px;
    background-color: rgb(184, 129, 235);
    color: rgb(231, 240, 231);
}

.gender{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color:wheat;
    margin-left: 40px;
}

.gender input{
    color: blue;
}

.dob{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color:khaki;
    font-weight: 800;
    margin-left: 40px;
}

.dob input{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    margin-left: 10px;
}

.regen{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    color: maroon;
    font-weight: bold;
    margin-left: 40px;
}

.regen  select{
    border-radius: 50px;
    text-align: center;
    font-size: 1rem;
    height: 30px;
    margin-left: 10px;
}

button{
    width: 100px;
    height: 50px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    color: blueviolet;
    background-color: antiquewhite;
}